<footer>
  <div>
    <div>
      <%= link_to image_tag("icon-logo.png", class:"footer-icon"), "/" %>
    </div>
  </div>
  <div>
    <div><P>イメージ</P></div>
    <div><P>紹介©️</P></div>
    <div><P>利用規約</P></div>
    <div><P>SNS</P></div>
  </div>

</footer>